# Ignore Python virtual environment folders
venv/
env/
ENV/

# Ignore Python compiled bytecode files
*.pyc
*.pyc
__pycache__/

# Ignore IDE or editor-specific files
.vscode/
.idea/

*.html

.env

test.py
nsfw.ipynb